//bgc
$bgc-theme: #fffffb;
$font-color:#a35a15;

//color:
$icon-color-default: #f0952d;
$icon-color:#f57c0a;
$border-color: #f5dcc0;


//size
$navbar-height: 4rem;
$tabbar-height: 2.5rem;

//z-index
$navbar-z-index: 1000;
$tabbar-z-index: 1000;
$backtop-z-index: 1100;
$search-z-index: 1200;
$product-z-index: 1200;
$login-z-index: 1300;
$msg-z-index: 1300;
